* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 10px;
    font-family: 'Barlow', sans-serif;
}

@media (min-width: 768px) {
    body {
        font-size: 12px;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 14px;
    }
}

h1,
h2,
h3,
h4 {
    font-family: 'Fraunces', serif;
}

.grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    overflow: hidden;
}

.header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 40%;
    grid-template-columns: 60% 40%;
    -ms-grid-rows: auto 1fr;
    grid-template-rows: auto 1fr;
    position: relative;
    min-height: 540px;
    padding: 10% 8%;
    background-image: url(./images/mobile/image-header.jpg);
    background-size: cover;
    background-position: top;
}

@media (min-width: 768px) {
    .header {
        min-height: 75vh;
        background-position-y: -300px;
    }
}

@media (min-width: 1200px) {
    .header {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-area: 1/1/2/3;
        background-image: url(./images/desktop/image-header.jpg);
        background-position-y: 0;
        height: 100vh;
        padding: 3%;
    }
}

.header__logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
    position: relative;
}

.header__logo img {
    height: 2.4em;
}

@media (min-width: 1200px) {
    .header__logo img {
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

.header__menu {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/2/2/3;
    -ms-grid-column-align: end;
    justify-self: end;
}

@media (min-width: 1200px) {
    .header__menu {
        width: 100%;
    }
}

.header__title {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2/1/3/3;
    padding-top: 25%;
    color: white;
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
}

@media (max-width: 300px) {
    .header__title {
        font-size: 3em;
    }
}

@media (min-width: 1200px) {
    .header__title {
        padding-top: 10%;
        letter-spacing: 8px;
    }
}

.header__arrow-icon {
    position: absolute;
    left: 50%;
    top: 290px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

@media (min-width: 768px) {
    .header__arrow-icon {
        top: 400px;
    }
}

@media (min-width: 1024px) {
    .header__arrow-icon {
        top: 600px;
    }
}

@media (min-width: 1200px) {
    .header__arrow-icon {
        top: 420px;
    }
}

.menu__hamburger #meni-icon {
    height: 2.4em;
}

@media (min-width: 1200px) {
    .menu__hamburger {
        display: none;
    }
}

.menu .active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.menu__triangle {
    display: none;
    position: absolute;
    top: 15vh;
    right: 8vw;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 0;
    width: 0;
    border-right: 25px solid white;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}

.menu__list {
    list-style: none;
}

.menu__list--header {
    display: none;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    z-index: 5;
    top: 15vh;
    right: 8vw;
    width: 320px;
    max-width: 86vw;
    height: 300px;
    padding: 20px 0;
    background-color: white;
    color: #818498;
}

@media (min-width: 1200px) {
    .menu__list--header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        position: static;
        top: 0;
        right: 0;
        width: 100%;
        height: auto;
        padding: 0;
        background-color: transparent;
    }
}

.menu__list--footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 25%;
}

@media (min-width: 1024px) {
    .menu__list--footer {
        padding-bottom: 15%;
    }
}

@media (min-width: 1200px) {
    .menu__list--footer {
        width: 25%;
        margin: 0 auto;
        padding-bottom: 6%;
    }
}

.menu__item {
    width: 100%;
    font-size: 1.9em;
    text-align: center;
}

@media (min-width: 1200px) {
    .menu__item {
        font-size: 1.3em;
        color: white;
    }
}

.menu__item:hover {
    cursor: pointer;
}

.menu__item--header:nth-last-child(1) {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 56px;
    padding: 0 30px;
    border-radius: 28px;
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    color: #23303e;
    font-size: 1.6em;
    line-height: 56px;
    font-weight: 700;
    background-color: #fad400;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

@media (min-width: 1200px) {
    .menu__item--header:nth-last-child(1) {
        font-size: 1.2em;
        background-color: white;
        padding: 0 25px;
    }
}

.menu__item--header:nth-last-child(1):hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
}

.menu__item--footer {
    font-size: 1.4em;
    color: #458c7e;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.menu__item--footer:hover {
    color: white;
}

.menu__link {
    color: inherit;
    text-decoration: none;
}

.content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
}

@media (min-width: 1200px) {
    .content {
        -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    }
}

.content__img {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
}

@media (min-width: 768px) {
    .content__img {
        height: 600px;
    }
}

@media (min-width: 1024px) {
    .content__img {
        height: 800px;
    }
}

@media (min-width: 1200px) {
    .content__img {
        height: 600px;
    }
}

.content__img--yellow {
    background-image: url(./images/mobile/image-transform.jpg);
}

@media (min-width: 1200px) {
    .content__img--yellow {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
        grid-area: 2/2;
        background-image: url(./images/desktop/image-transform.jpg);
    }
}

.content__img--pink {
    background-image: url(./images/mobile/image-stand-out.jpg);
}

@media (min-width: 1200px) {
    .content__img--pink {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        grid-area: 3/1;
        background-image: url(./images/desktop/image-stand-out.jpg);
    }
}

.content__article {
    padding: 18% 8%;
    text-align: center;
}

@media (min-width: 1200px) {
    .content__article {
        height: 600px;
    }
}

@media (min-width: 1200px) {
    .content__article--yellow {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        grid-area: 2/1;
        padding: 22% 15% 20% 22%;
        text-align: left;
    }
}

@media (min-width: 1200px) {
    .content__article--pink {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
        grid-area: 3/2;
        padding: 22% 22% 20% 15%;
        text-align: left;
    }
}

.content__article--green,
.content__article--blue {
    background-size: cover;
    background-position: top;
    min-height: 600px;
}

@media (min-width: 768px) {

    .content__article--green,
    .content__article--blue {
        height: 1000px;
    }
}

@media (min-width: 1024px) {

    .content__article--green,
    .content__article--blue {
        height: 1200px;
    }
}

@media (min-width: 1200px) {

    .content__article--green,
    .content__article--blue {
        height: 600px;
    }
}

.content__article--green {
    background-image: url(./images/mobile/image-graphic-design.jpg);
    color: #25564b;
}

@media (min-width: 1200px) {
    .content__article--green {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
        grid-area: 4/1;
        background-image: url(./images/desktop/image-graphic-design.jpg);
    }
}

.content__article--blue {
    background-image: url(./images/mobile/image-photography.jpg);
    color: #19536b;
}

@media (min-width: 1200px) {
    .content__article--blue {
        -ms-grid-row: 4;
        -ms-grid-column: 2;
        grid-area: 4/2;
        background-image: url(./images/desktop/image-photography.jpg);
    }
}

.content__title {
    color: #23303e;
    font-weight: 900;
}

.content__title--lg {
    font-size: 3.1em;
    line-height: 1.2;
}

@media (min-width: 1200px) {
    .content__title--lg {
        font-size: 2.8em;
    }
}

.content__title--sm {
    padding-top: 330px;
    font-size: 2.6em;
    color: inherit;
}

@media (min-width: 768px) {
    .content__title--sm {
        padding-top: 600px;
    }
}

@media (min-width: 1024px) {
    .content__title--sm {
        padding-top: 700px;
    }
}

@media (min-width: 1200px) {
    .content__title--sm {
        padding-top: 270px;
        font-size: 2em;
    }
}

.content__txt--lg {
    padding: 10% 0 12%;
    color: #818498;
    font-size: 1.8em;
    line-height: 1.6;
}

@media (min-width: 1200px) {
    .content__txt--lg {
        font-size: 1.3em;
    }
}

.content__txt--sm {
    padding-top: 8%;
    color: inherit;
    font-size: 1.6em;
    line-height: 1.6;
}

@media (min-width: 1200px) {
    .content__txt--sm {
        padding: 5% 20%;
        font-size: 1.2em;
    }
}

.content__link {
    font-family: 'Fraunces', serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: 900;
    color: #23303e;
}

@media (min-width: 1200px) {
    .content__link {
        font-size: 1.2em;
    }
}

.content__link-wrapper {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 2%;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .content__link-wrapper {
        margin: 0;
    }
}

.content__link-wrapper:hover {
    cursor: pointer;
}

.content__link-wrapper:hover .content__link-underline {
    opacity: 1;
}

.content__link-underline {
    position: absolute;
    width: 100%;
    height: 8px;
    left: 0;
    bottom: -2px;
    opacity: 0.25;
    border-radius: 4px;
    z-index: -1;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.content__link-underline--yellow {
    background-color: #fad400;
}

.content__link-underline--pink {
    background-color: #fe7867;
}

.content__gallery {
    width: 100%;
}

.testimonials {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: (auto)[4];
    grid-template-rows: repeat(4, auto);
    max-width: 1600px;
    margin: 0 auto;
    padding: 18% 8% 22%;
    text-align: center;
}

@media (min-width: 1024px) {
    .testimonials {
        padding: 12% 15% 15%;
    }
}

@media (min-width: 1200px) {
    .testimonials {
        -ms-grid-row: 5;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-area: 5/1/6/3;
        -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
        -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
        gap: 40px;
        padding: 12%;
    }
}

.testimonials__title {
    color: #a7abae;
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: 900;
    letter-spacing: 4px;
}

@media (min-width: 1024px) {
    .testimonials__title {
        font-size: 2em;
    }
}

@media (min-width: 1200px) {
    .testimonials__title {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-area: 1/1/2/4;
        font-size: 1.5em;
        letter-spacing: 5px;
    }
}

.client {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 1fr auto auto;
    grid-template-rows: auto 1fr auto auto;
    padding: 20% 0 2%;
}

@media (min-width: 1024px) {
    .client {
        padding-top: 15%;
    }
}

.client__avatar {
    height: 70px;
    width: 70px;
    margin: 0 auto;
}

.client__avatar img {
    height: 100%;
    border-radius: 50%;
}

.client__txt {
    padding: 10% 0;
    color: #5a636c;
    font-size: 1.8em;
    line-height: 1.8;
}

@media (min-width: 1200px) {
    .client__txt {
        font-size: 1.25em;
        padding: 15% 0 20%;
    }
}

.client__name {
    display: block;
    padding-bottom: 4%;
    font-family: 'Fraunces', serif;
    color: #23303e;
    font-weight: 900;
    font-size: 1.7em;
}

@media (min-width: 1200px) {
    .client__name {
        font-size: 1.3em;
        -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    }
}

.client__profession {
    display: block;
    color: #a7abae;
    font-size: 1.4em;
}

@media (min-width: 1200px) {
    .client__profession {
        font-size: 1.1em;
        -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    }
}

.portfolio {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    width: 100vw;
}

@media (min-width: 1200px) {
    .portfolio {
        -ms-grid-row: 6;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-area: 6/1/7/3;
        -ms-grid-columns: (25%)[4];
        grid-template-columns: repeat(4, 25%);
        -ms-grid-rows: auto;
        grid-template-rows: auto;
    }
}

.portfolio__project {
    height: 50vw;
    width: 50vw;
    background-size: cover;
}

@media (min-width: 1200px) {
    .portfolio__project {
        width: 25vw;
        height: 30vw;
        background-position: center top;
    }
}

.portfolio .milk {
    background-image: url(./images/mobile/image-gallery-milkbottles.jpg);
}

@media (min-width: 1200px) {
    .portfolio .milk {
        background-image: url(./images/desktop/image-gallery-milkbottles.jpg);
    }
}

.portfolio .orange {
    background-image: url(./images/mobile/image-gallery-orange.jpg);
}

@media (min-width: 1200px) {
    .portfolio .orange {
        background-image: url(./images/desktop/image-gallery-orange.jpg);
    }
}

.portfolio .cone {
    background-image: url(./images/mobile/image-gallery-cone.jpg);
}

@media (min-width: 1200px) {
    .portfolio .cone {
        background-image: url(./images/desktop/image-gallery-cone.jpg);
    }
}

.portfolio .sugar {
    background-image: url(./images/mobile/image-gallery-sugar-cubes.jpg);
}

@media (min-width: 1200px) {
    .portfolio .sugar {
        background-image: url(./images/desktop/image-gallery-sugarcubes.jpg);
    }
}

.footer {
    background-color: #9ccec4;
    color: #458c7e;
}

@media (min-width: 1200px) {
    .footer {
        -ms-grid-row: 7;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-area: 7/1/8/3;
    }
}

.footer__logo {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    padding: 15% 0 10%;
}

@media (min-width: 1200px) {
    .footer__logo {
        padding: 6% 0 3%;
    }
}

.footer__logo img {
    height: 3.2em;
}

@media (min-width: 1200px) {
    .footer__logo img {
        height: 2.5em;
    }
}

.footer__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    width: 60%;
    margin: 0 auto 20%;
    font-size: 2em;
}

@media (min-width: 1024px) {
    .footer__socials {
        margin-bottom: 15%;
    }
}

@media (min-width: 1200px) {
    .footer__socials {
        width: 16%;
        margin-bottom: 5%;
        font-size: 1.5em;
    }
}

.footer__socials i {
    color: #2d7668;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.footer__socials i:hover {
    color: white;
}

.attribution {
    font-size: 1.1em;
    text-align: center;
    padding: 4px 0;
}

.attribution a {
    color: #3e52a3;
}